!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h4
      = binding.pry
      Hey @you.name,
    %p
      Your one-on-one this week is with @coworker.name.  Find them and have some fun!