<!-- will render comments to the body -->
<div class="comments-part">
    <div class="email">
        Posted by <%= current_user.email %><br><br>
    </div>
    <div class ="comment-body">
        <%= comment.body %><br>
    </div>
    <div class="post-time">
        <%= distance_of_time_in_words(Time.now, comment.created_at) %><br>
    </div>
</div>