/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#header {
    color: white;

    font-family: tahoma;
    font-size: 18px;
    height: 60px;
    position: fixed;
    background-color: #333333;
    border:3px solid #CCC;
    width:100%;
    margin:0px auto;
    min-width: 850px;
    top: 0;
    left: 0;
    z-index: 100001;
    padding-left: 20px;
    letter-spacing: 3px;
    transition: color 1s;
  }

#header a:visited {
  color: white;
}

#header a:hover {
  color: #8bd5f3;
  margin-top: 2px;  
  transition: color 1s;
}

#header img{
  height: 50px;
  width: auto;
  top: 5px;
  position: relative;
}




#content {
	min-width: 1000px;

}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}