// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments-part {
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 10px;
    clear: both;
    width: 300px;
    font-family: "Helvetica";
}

.email {
    font-size: 10px;
}

.comment-body {
    font-size: 12px;
}

.post-time {
    font-size: 10px;
}
