// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p{
    font-size: 14px;
}

.images {
    height: 400px;
    width: 300px;
}

.left-column {
    font-family: Tahoma;

}

